<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Home Page</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


		

	</head>
	<body>
		<style>
			.navbar {
				/*background-color: #90A964;*/
				background-color: #008080;
			}
			.navbar span {
				color: #fff;
			}
			.jumbotron {
				background-color: #90a964;
			}
			.jumbotron h1 {
				color: #fff;
			}
			.jumbotron p {
				color: #008080;
			}
			.subhead h4 {
				color: #008080;
			}
			.btn-custom {
				background-color: #008080;
				color: #fff;
			}

		</style>
		<nav class = 'navbar navbar-default'>
			<div class = 'container-fluid'>
				<div class = 'navbar-header'>
					<a class = 'navbar-brand navlink' href = "/"><span>Outdoorsy</span></a>
				</div>
				<ul class = 'nav navbar-nav'>
					<li><a href = '/' class = 'navlink'><span>Home</span></a></li>
				</ul>
				<ul class = 'nav navbar-nav navbar-right'>
					<li><a href="/login" class = 'navlink'><span>Sign In</span></a></li>
				</ul>
			</div>
		</nav>

		<div class = 'container'>
			<div class = 'jumbotron row'>
				<div id = 'words' class = 'col-md-7'>
					<h1>Welcome to Outdoorsy!</h1>
					<p>Here you can find information and directions for parks, trails, and other outdoor areas anywhere in the world.</p>
				<p><a class = 'btn btn-custom' href = "/login">Get started</a></p>
					
				</div>
				<div class = 'col-md-4'>
					<img id = 'big-logo' src = '/static/images/whiteTree.png' alt = 'tree logo' width = 270 height = 300>
				</div>
			</div>

			<div id="status">
			</div>

			<div id='registration'>
				<form action='/register' method='POST' id='fbuser'>
					<input type='hidden' id='fbname' name='fbname' value=''>
					<input type='hidden' id='fbid' name='fbid' value=''>
					<input type='hidden' id='fbtoken' name='fbtoken' value=''>
				</form>
			</div>

			<div class = 'col-sm-4 subhead'>
				<h4>Find nature</h4>
				<p>Search for outdoor and natural attractions in any area of the word.
				</p>
			</div>
			<div class = 'col-sm-4 subhead'>
				<h4>Read/write travel advice</h4>
				<p>Scour through our collection of users' travel tips, and write a few of your own on your favorite (or least favorite!) outdoor attractions.
				</p>
			</div>
			<div class = 'col-sm-4 subhead'>
				<h4>Get directions</h4>
				<p>Get directions to any outdoor location. Traveling by bike or by public transit? We've got you covered.
				</p>
			</div>
		</div> <!-- end of container -->
	</body>
</html>