<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<meta charset = 'UTF-8'>
		<title>Login</title>
	</head>
	<body>
		<h1>HANDLE LOGIN HERE!</h1>
		<h2>Once the user logs in, put his/her id in session and route to the <a href = '/home'>'/home' route</a>, which will have the recent reviews, favorites, etc.</h2>

		<h3>Feel free to check out the location page by routing to <a href = '/location'>'/location'</a> but keep in mind that I'm keeping the API key private to my local computer for now (still haven't figured out the best security protocol) so the map stuff won't actually appear.</h3>
	</body>
</html>